---

---

<section id="about">
    <div class="container-fluid">
     
        <!-- Primera columna -->
        <div class="col-md-12 col-12 align-items-center container-about">
          <div>
            <h2 class="container-about">¿Quien Soy?</h2>
          </div>
          <div class="texto-about container col-12 mx-auto">
            <p class="fs-5">
              Hola, soy Reinaldo Bellorin, un apasionado desarrollador web graduado en TSU Informática. Me especializo en el desarrollo utilizando Python, mi lenguaje favorito, para crear aplicaciones web eficientes y poderosas. Además, encuentro inspiración en la música de Gustavo Cerati, cuyas melodías me acompañan en mi proceso creativo. Mi lema es "no tengo enemigos", una filosofía que refleja mi enfoque colaborativo y positivo hacia los desafíos. Estoy emocionado por contribuir a proyectos innovadores y seguir creciendo como profesional en el mundo del desarrollo web.
            </p>
        
          </div>
          
  <div class="container mt-1">
    <iframe style="border-radius:15px" src="https://open.spotify.com/embed/track/17eJyYLIlMNlOqcwHYJ9F2?utm_source=generator&theme=0" width="100%" height="152"  allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
          
      </div>
    </div>
  </section>
<style>
  @media (max-width: 440px){
    section{
      height: 200vh !important;
    }
  }
  @media (min-width:1000px) {
    .texto-about{
      height: 50dvh;
      display: flex;
      align-items: center;
    }
  }
  .container-about{
    width: 100%;
  }
  h2{
   font-size: 1.8rem !important;
  }
  p{
    font-size: 1.5rem !important;
    text-align: center;
    
  }
  .container-about{
    justify-content: center !important;
    justify-items: center  ;
    display: flex;
    flex-direction: column;
  }
    .informacion-adicional{
        margin-left: 50px;
    }
  .about-me {
    text-wrap: balance;
  }
  .texto-about{
    border: 2px solid white;
    border-radius: 25px;
    width: 75%;
    margin-left: 10px;
    
  }
  .texto-about p:first-of-type::first-letter {
  font-size: 1.7em;  /* Ajusta el tamaño de la primera letra según tus preferencias */
  font-weight: bold; /* Ajusta el peso de la fuente de la primera letra */
  
  /* Otros estilos que desees aplicar a la primera letra del primer párrafo */
}
  section {
    border-top: 0.5px solid white;
    text-wrap: balance;
    height: 100dvh;
  }
  h2 {
    text-align: center;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgb(247, 247, 247),
      #665656,
      rgb(51, 46, 46)
    ); /* Puedes ajustar los colores según tus preferencias */
    border-image-slice: 1;
    width: 35%;

    margin-top: 20px;
    font-size: 1.5rem;
  }
</style>
