---

import FormContact from './FormContact';
---


<section id="contact">

    <h2 class="text-center" id="contactTitleSection">Contacto </h2>
    <div class="container contenedor-form">
        <div class="form-group">
            <FormContact client:load/>
        </div>
       
        <div class="redes-sociales">
            <a href="https://wa.me/584248415403" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/reinaldo-bellorin-318528266/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:reybellorin82@gmail.com" target="_blank" class="gmail"><i class="bi bi-envelope"></i></a>
          </div>
    </div>
</section>

<style>
    .redes-sociales {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.redes-sociales a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.redes-sociales a:hover {
  color: #007bff;
}
    .contenedor-boton{
        display: flex;
        text-align: center;
        margin: 0 auto;
    }

    section{
        padding: 40px;
        
        border-top: 2px solid white;
        padding-top: 10px;
        max-height: auto;
    }
</style>