---

---

<section id="contact">
  <div class="container container-text">
    <h2 class="text-center contacto-text">Contacto</h2>
  </div>
  
  <div class="container-fluid contenedor-principal col-12">
    
    <div class="col-md-12 mt-2 col-12">
      <div class="container-contact">
        <div class="contenedor-contact container">
          <div class="form-group">
            <h4 class="text-center">Envia Tu Mensaje</h4>
            <form id="form">

           
            <label for="">Email</label>
            <input type="text" class="form-control" name="email_id" id="email_id" />
            <label for="">Nombre y Apellido</label>
            <input type="text" class="form-control"  name="from_name" id="from_name" />
            <label for="">Telefono</label>
            <input type="text" class="form-control" name="from_phone" id="from_phone" />
            <label for="">Mensaje</label>
            <textarea name="message" id="message" cols="30" class="form-control" rows="10"
            ></textarea>
            <div class="container text-center">
              <button class="boton-enviar text-center"  type="submit" id="button"  value="Send Email">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        fill="currentColor"
                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <span>Send</span>
              </button>
            </form>
            </div>

            <div class="container container-mail">
              <input
                class="form-control"
                type="text"
                readonly
                value="reybellorin82@gmail.com"
              />
              <button class="copy" id="mailCopy">
                <span
                  data-text-end="Copiado!"
                  data-text-initial="Copiar al portapapeles"
                  class="tooltip"></span>
                <span>
                  <svg
                    xml:space="preserve"
                    style="enable-background:new 0 0 512 512"
                    viewBox="0 0 6.35 6.35"
                    y="0"
                    x="0"
                    height="20"
                    width="20"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    class="clipboard"
                  >
                    <g>
                      <path
                        fill="currentColor"
                        d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                      ></path>
                    </g>
                  </svg>
                  <svg
                    xml:space="preserve"
                    style="enable-background:new 0 0 512 512"
                    viewBox="0 0 24 24"
                    y="0"
                    x="0"
                    height="18"
                    width="18"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    class="checkmark"
                  >
                    <g>
                      <path
                        data-original="#000000"
                        fill="currentColor"
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                      ></path>
                    </g>
                  </svg>
                </span>
              </button>
            </div>

            <div class="container container-svg">
              <div class="main">
                <div class="up">
                  <button class="card1">
                    <a href="https://wa.me/+584248415403">
                      <svg
                        class="whatsapp"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        height="30"
                        width="30"
                      >
                        <path
                          d="M19.001 4.908A9.817 9.817 0 0 0 11.992 2C6.534 2 2.085 6.448 2.08 11.908c0 1.748.458 3.45 1.321 4.956L2 22l5.255-1.377a9.916 9.916 0 0 0 4.737 1.206h.005c5.46 0 9.908-4.448 9.913-9.913A9.872 9.872 0 0 0 19 4.908h.001ZM11.992 20.15A8.216 8.216 0 0 1 7.797 19l-.3-.18-3.117.818.833-3.041-.196-.314a8.2 8.2 0 0 1-1.258-4.381c0-4.533 3.696-8.23 8.239-8.23a8.2 8.2 0 0 1 5.825 2.413 8.196 8.196 0 0 1 2.41 5.825c-.006 4.55-3.702 8.24-8.24 8.24Zm4.52-6.167c-.247-.124-1.463-.723-1.692-.808-.228-.08-.394-.123-.556.124-.166.246-.641.808-.784.969-.143.166-.29.185-.537.062-.247-.125-1.045-.385-1.99-1.23-.738-.657-1.232-1.47-1.38-1.716-.142-.247-.013-.38.11-.504.11-.11.247-.29.37-.432.126-.143.167-.248.248-.413.082-.167.043-.31-.018-.433-.063-.124-.557-1.345-.765-1.838-.2-.486-.404-.419-.557-.425-.142-.009-.309-.009-.475-.009a.911.911 0 0 0-.661.31c-.228.247-.864.845-.864 2.067 0 1.22.888 2.395 1.013 2.56.122.167 1.742 2.666 4.229 3.74.587.257 1.05.408 1.41.523.595.19 1.13.162 1.558.1.475-.072 1.464-.6 1.673-1.178.205-.58.205-1.075.142-1.18-.061-.104-.227-.165-.475-.29Z"
                        ></path>
                      </svg>
                    </a>
                  </button>
                  <button class="card2">
                    <a
                      href="https://www.linkedin.com/in/reinaldo-bellorin-318528266/"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="linkedin"
                        height="1.6em"
                        viewBox="0 0 448 512"
                      >
                        <path
                          d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                        ></path>
                      </svg>
                    </a>
                  </button>
                </div>
                <div class="down">
                  <button class="card3">
                    <a href="https://github.com/Reinaldito04">
                      <svg
                        class="github"
                        height="30px"
                        width="30px"
                        viewBox="0 0 30 30"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"
                        ></path>
                      </svg>
                    </a>
                  </button>
                  <button class="card4" id="discord" value="reinaldito04">
                    <svg
                      class="discord"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 48 48"
                      width="30px"
                      height="30px"
                    >
                      <path
                        d="M40,12c0,0-4.585-3.588-10-4l-0.488,0.976C34.408,10.174,36.654,11.891,39,14c-4.045-2.065-8.039-4-15-4s-10.955,1.935-15,4c2.346-2.109,5.018-4.015,9.488-5.024L18,8c-5.681,0.537-10,4-10,4s-5.121,7.425-6,22c5.162,5.953,13,6,13,6l1.639-2.185C13.857,36.848,10.715,35.121,8,32c3.238,2.45,8.125,5,16,5s12.762-2.55,16-5c-2.715,3.121-5.857,4.848-8.639,5.815L33,40c0,0,7.838-0.047,13-6C45.121,19.425,40,12,40,12z M17.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C21,28.209,19.433,30,17.5,30z M30.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C34,28.209,32.433,30,30.5,30z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>

const form = document.getElementById('form');

form.addEventListener('submit', function(event) {
  event.preventDefault();

  const mail = (document.getElementById('email_id') as HTMLInputElement).value;
  const name = (document.getElementById('from_name') as HTMLInputElement).value;
  const phone = (document.getElementById('from_phone') as HTMLInputElement).value;
  const message = (document.getElementById('message') as HTMLTextAreaElement).
  value;
  // const subject = (document.getElementById('subject') as HTMLInputElement).value;
  // const body = (document.getElementById('body') as HTMLTextAreaElement).value;
  const body= 'Nombre : ' + name + '\n\nTeléfono: '+ phone +'\' \n\nMensaje:\n'+ message ;
  const mailtoString = "mailto:reybellorin82@gmail.com"  + "?subject=" + encodeURIComponent(mail) + "&body=" + encodeURIComponent(body);

  // Abrir el cliente de correo predeterminado del usuario
  window.location.href = mailtoString;
});


  document.getElementById("discord").addEventListener("click", function () {
    navigator.clipboard
      .writeText("reinaldito04")
      .then(() => {
        alert("Texto copiado al portapapeles");
      })
      .catch((err) => {
        console.error("Error al copiar al portapapeles:", err);
      });
  });

  document.getElementById("mailCopy").addEventListener("click", function () {
    navigator.clipboard
      .writeText("reybellorin82@gmail.com")
      .then(() => {
        alert("Texto copiado al portapapeles");
      })
      .catch((err) => {
        console.error("Error al copiar al portapapeles:", err);
      });
  });
</script>
<style>

  
  @media (max-width: 800px) {
   
    .container-text{
      margin: 0 auto;
      text-align: center;
      z-index: 999;
      position: absolute;
      margin-top: -120%;
      
    }
    h2{
      left: 20%;
      position: relative !important;
      text-align: center !important;
     margin: 0 auto !important;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200dvh !important;
      margin-bottom: 25px !important;
     
    }
    .container-contact{
      background-image: none !important;
    }
    .contenedor-contact{
     background:none !important; 
    }
  }
  @media (max-width: 440px){
    section{
     
      height: 195dvh !important;
    }
    .contenedor-contact{
      margin-top: -140% !important;
    }
    h2{
      left: 5%;
      position: relative !important;
      text-align: center !important;
     margin: 0 auto !important;
     margin-top: -60% !important;
    }
    .container-text{
     
      text-align: center;
      margin: 0 auto;
      margin-top: -300% !important;
     
    }
  }
  .boton-enviar {
    font-family: inherit;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }

  .boton-enviar:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }

  .boton-enviar:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .boton-enviar span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }

  .boton-enviar svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }

  .boton-enviar .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }

  .boton-enviar:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .boton-enviar:hover svg {
    transform: rotate(45deg);
  }

  .container-mail input {
    border-radius: 25px;
    text-align: center;
  }
  .container-mail input:hover {
    outline: 0.5px solid #0077b5;
  }
  .container-mail {
    margin-top: 20px;
    display: flex;
  }

  /* tooltip settings 👇 */

  .copy {
    /* button */
    --button-bg: #353434;
    --button-hover-bg: #464646;
    --button-text-color: #cccccc;
    --button-hover-text-color: #8bb9fe;
    --button-border-radius: 10px;
    --button-diameter: 36px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    /* --tooltip-transition-duration: 0.3s; */
    /* 👆 if you need a transition, 
  just remove the comment,
  but I didn't like the transition :| */
  }

  .copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration)
      cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .tooltip::before {
    content: attr(data-text-initial);
  }

  .tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }

  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkmark {
    display: none;
  }

  /* actions */

  .copy:hover .tooltip,
  .copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }

  .copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }

  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }

  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }

  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }

  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }

  .copy:hover svg {
    color: var(--button-hover-text-color);
  }

  .container-svg {
    margin-top: 20px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    width: 70%;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  input,
  textarea:hover {
    outline: 0.5px solid #0077b5;
  }
  .whatsapp {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #00ff00;
  }

  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }

  .linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
  }

  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }

  .github {
    margin-top: -0.6em;
    margin-left: 1.2em;
  }

  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }

  .discord {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }

  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
  }

  .card1:hover .whatsapp {
    fill: white;
  }

  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
  }

  .card2:hover .linkedin {
    fill: white;
  }

  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }

  .card3:hover .github {
    fill: white;
  }

  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }

  .card4:hover .discord {
    fill: white;
  }

  .contenedor-contact {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex; /* Utiliza flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    width: 100%;
    height: 100vh; /* Usamos 100vh para que el contenedor ocupe el 100% de la altura de la ventana */
    border-radius: 25px;
  }
  .container-contact {
    background-image: url("/map.png");
    background-size: cover;

    width: 100%;
    height: 110dvh;
    background-position: center;
  }

  section {
    border-top: 0.5px solid white;
    text-wrap: balance;
    margin-top: 50px;
    height: 120dvh;
  }
  h2 {
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      rgb(247, 247, 247),
      #665656,
      rgb(51, 46, 46)
    ); /* Puedes ajustar los colores según tus preferencias */
    border-image-slice: 1;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
    font-size: 1.5rem;
  }
</style>
