---
import ButtonLanguaje from "./ButtonLanguaje.astro"
---

<!-- HTML Structure -->
<nav class="navbar">
  <div class="container-fluid">
    <img class="logo" src="logo.png" />
    <ul class="nav-links">
      <li><a id="aboutLink" href="#about">Sobre mí</a></li>
      <li><a id="skillsLink" href="#skills">Skills</a></li>
      <li><a id="portfolioLink" href="#project">Portafolio</a></li>
      <li><a id="contactLink" href="#contact">Contacto</a></li>
    </ul>
    <div class="language-button">
      <ButtonLanguaje/>
    </div>
  </div>
</nav>

<style>
  /* Estilos generales */
  .navbar {
    border-bottom: 0.5px solid #ccc;
    position: sticky;
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 4%;
  }

  ul.nav-links {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    justify-content: center;
    border: none;
    align-items: center;
  }

  ul.nav-links li {
    list-style: none;
    font-weight: 400;
    font-size: 1.2rem;
  }

  ul.nav-links a {
    list-style: none;
    text-decoration: none;
    color: white;
  }

  ul.nav-links a:hover {
    color: #136388;
    transition: all 0.3s ease-in-out;
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    /* Oculta todos los elementos excepto el botón de idioma */
    .logo,
    .nav-links {
      display: none;
    }
.navbar{
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 0.5px solid #ccc;
  padding: 0px;
}
   
    /* Ajustes de botón para adaptarse al centro */
    .language-button button {
      margin: auto;
    }
  }
</style>
